{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-between m-3">
        <h1>{{ 'app.reservation.list'|trans }}</h1>
        <a
            href="{{ path('app_reservation_create') }}"
            class="btn btn btn-success p-2"
            style="height: min-content;"
            >
            {{ 'app.reservation.new'|trans }}
        </a>
    </div>
    <div class="align-content-center m-4">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">{{ 'app.reservation.period'|trans }}</th>
                <th scope="col">{{ 'app.reservation.duration'|trans }}</th>
                <th scope="col">{{ 'app.reservation.reservation_date'|trans }}</th>
                <th scope="col">{{ 'app.common.description'|trans }}</th>
                <th scope="col">{{ 'app.common.name'|trans }}</th>
                <th scope="col">{{ 'app.common.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% if reservations is empty %}
            <tr class="justify-content-center">
                <td colspan="5">
                    <span class="d-flex flex-column text-center">
                        {{ 'app.reservation.empty_list'|trans }}
                    </span>
                </td>
            </tr>
            {% else %}
                {% for reservation in reservations %}
                    <tr>
                        <td>{{ reservation.reservationPeriod }}</td>
                        <td>{{ reservation.duration }}</td>
                        <td>{{ reservation.reservedAt|date('Y-m-d H:i:s') }}</td>
                        <td>{{ reservation.description}}</td>
                        <td>{{ reservation.name}}</td>
                        <td>
                            <form action="{{ path('app_reservation_update', {'id': reservation.id}) }}" method="get">
                                <button type="submit" class="btn btn-primary">
                                    {{ 'app.reservation.edit'|trans }}
                                </button>
                            </form>
                            <div class="mt-3"></div>
                            <form action="{{ path('app_reservation_delete', {'id': reservation.id}) }}" method="post">
                                <button type="submit" class="btn btn-danger">
                                    {{ 'app.reservation.delete'|trans }}
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock  %}
