{% extends 'base.html.twig' %}

{% block body %}
    <div class="p-5 m-5" style="background-color: #dedede; color: black;">
        {{ form_start(form, {'action': path('app_reservation_update', {'id': reservation.id})}) }}
        <div id="form-errors">
            {{ form_errors(form) }}
        </div>

        <div class="d-flex row">
            <div class="d-flex flex-column col-4">
                {{ form_row(form.start_date) }}
            </div>
            <div class="d-flex flex-column col-4">
                {{ form_row(form.duration) }}
            </div>
            <div class="d-flex flex-column col-4">
                {{ form_row(form.name) }}
            </div>
        </div>
        <div class="row p-2">
            <div class="d-flex flex-column col-12">
                {{ form_row(form.description, { 'attr': {'class': 'w-100'} }) }}
            </div>
        </div>
        {{ form_row(form._token) }}
        <button type="submit" class="btn btn-primary mt-3">{{ 'app.common.submit'|trans }}</button>
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock  %}
